WANDB_API_KEY=<your wandb api key>
REPLICAS=<number of replicas to create with docker compose>
CPUS_LIMIT=<cpu limit per replica in form '0.xx' where xx is decimal portion of cpus to allocate>
MEMORY_LIMIT=<memory limit per replica in form '<amount><byte_unit>' eg., 50M.  See https://docs.docker.com/compose/compose-file/#specifying-byte-values>
WANDB_SWEEP_AGENT_HOST = <>
NVIDIA_DRIVER_CAPABILITIES=all
IMAGE_NET_PATH=/datasets/ILSVRC2012
BASE_PATH=/home/condensed-sparsity/
NUM_WORKERS=4
HYDRA_FULL_ERROR=1
